#search_box {
  background-color: #ededed;
  padding-bottom: 200px;
  padding: 32px 64px;
  box-sizing: border-box;
}
.search-box,
.error-msg,
.success-msg {
  min-height: calc(100vh - 337px);
  display: flex;
  align-items: center;
}
.error-msg,
.success-msg {
  justify-content: center;
  text-align: center;
}
.search-box .MuiInputBase-input {
  background: #fff;
}
