.App {
    text-align: center;
    background-color: #EDEDED;
    margin-left: auto;
    height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#sub-header {
    color: black;
}

.logo {
    height: 270px;
    width: 480px;
}

#error-messages {
    background-color: white;
    width: 70%;
    font-size: 20px;
    color: red;
    text-align: center;
    margin: auto;
    margin-top:10px;
    width: 50%;
    border-radius: 25px;
}

.form-seperator {
    background-color: #737373;
    padding: 10px 0px;
    font-weight: bold;
    color: white;
    margin: 10px 0px;
}

.form-section {
    margin: 20px 0px;
}

#checkbox-section {
    margin-top: 20px;
}

#debug-section {
    margin-top:20px;
    font-size: 12px;
    border: 1px;
    border-color: black;
}

.text-field {
    background-color: #DE5147;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.publisher {
    background-color:#EDEDED;
}

.App-header {
  background-color: #EDEDED;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
